@model DA1.Areas.Admin.Models.Movie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieVideo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieVideo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MoviePoint)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MoviePoint)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTrailer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieTrailer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieDesc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieDesc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MovieTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MovieTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CATEGORY)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CATEGORY.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NATIONAL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NATIONAL.NationalId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
